<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lakelab.notifier">

    <application>
        <provider
            android:name=".ContextInjections"
            android:authorities="${applicationId}.ContextInjections"
            android:exported="false" />
    </application>

</manifest>
